@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import 'tw-animate-css';

@theme{
  --font-rubik: "Rubik", sans-serif;
  --font-lora: "Lora", serif;

  --color-neuro-light-green: #7bd9b8;
  --color-neuro-dark-green: #5e9c87;
  --color-neuro-green: #15f4a2;
  --color-neuro-yellow: #f2c94c;
  --color-neuro-red: #eb5757;
  --color-neuro-orange: #f2a65a;
  --color-neuro-light-red: #e07a7a;
  --color-neuro-light-purple: #dab1da;
  --color-neuro-purple: #e873e8;
  --color-neuro-dark-purple: #bb45bb;
  --color-neuro-light-blue: #c9e4f5;
}