@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Manrope:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import 'tw-animate-css';

@theme {
  --color-neuro-light-green: #7bd9b8;
  --color-neuro-dark-green: #5e9c87;
  --color-neuro-green: #15f4a2;
  --color-neuro-yellow: #f2c94c;
  --color-neuro-red: #eb5757;
  --color-neuro-orange: #f2a65a;
  --color-light-red: #e07a7a;
}